body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form h2 {
    text-align: center;
}

.registration-form label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="password"],
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 93%;
    box-sizing: border-box; /* Ensures padding doesn't affect width calculation */
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.change-role-text {
    text-align: center;
    color: #007BFF;
    cursor: pointer;
    margin-top: 15px;
}

.change-role-text:hover {
    text-decoration: underline;
}

/* Specific styles for phone number input */
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Style for the select dropdown */
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 93%;
    box-sizing: border-box;
}

/* Make the form responsive for smaller screens */
@media (max-width: 500px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .registration-form label,
    .registration-form input,
    .registration-form select {
        width: 100%;
    }
}
